#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/p3/cms/erpProduct.do?list" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-heading">产品列表</div>
						<div class="panel-body">
							<div class="search">
								<div class="form-group col-sm-3">
									<label for="title" class="control-label col-sm-3 line34">产品名称</label>
									<div class="col-sm-8">
										<input type="text" name="name" id="name" value="$!{erpProduct.name}" class="form-control" />
									</div>
								</div>
								
								<div class="form-group col-sm-3">
									<label for="columnId" class="control-label col-sm-3 line34">类别</label>
									<div class="col-sm-8">
										<input type="text" value="" id="columnId" readonly class="form-control" onclick="showMenu();"/>
										<input type="hidden" name="columnId" id="pId" />
									</div>
								</div>
								
								<div class="form-group col-sm-3">
									<label for="location" class="control-label col-sm-3 line34">货架位置</label>
									<div class="col-sm-8">
									<select name="location" id="location"  class="form-control" placeholder="货架位置">
									<option value=""  selected ></option>									
									<option value="R1"   >R1</option>
									<option value="R2"   >R2</option>
									<option value="R3"   >R3</option>
									<option value="R4"   >R4</option>
								</select>
									</div>
								</div>
								<div class="form-group col-sm-3">
									<label for="brand" class="control-label col-sm-3 line34">产品品牌</label>
									<div class="col-sm-8">
										<input type="text" name="brand" id="brand" value="$!{erpProduct.brand}" class="form-control" />
									</div>
								</div>
								<div class="form-group col-sm-3">
									<label for="model" class="control-label col-sm-3 line34">产品型号规格</label>
									<div class="col-sm-8">
										<input type="text" name="model" id="model" value="$!{erpProduct.model}" class="form-control" />
									</div>
								</div>
								
								
								<button type="submit" class="btn btn-primary">搜  索</button>
								<div class="clearfix"></div>
							</div>
							<!--
							<div id="legend">
								<legend  class="le">
									<button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/p3/cms/erpProduct.do?toAdd')" >新增</button>
								</legend>
							</div>
							-->
							<table class="table table-striped">
								<thead>
                                    <th>产品名称</th>
                                    <th>产品编码</th>
                                    <th>产品类别</th>
                                    <th>型号规格</th>
                                    <th>产品品牌</th>
                                    <th>货架位置</th>
                                    <th>入库时间</th>
								</thead>
								<tbody>
									#if($!{pageInfos})
										#foreach($!{info} in $!{pageInfos})
											<tr>			
                                                <td>$!{info.name}</td>
                                                <td>$!{info.code}</td>
                                                <td class="$!{info.columnId}">$!{info.columnId}</td>
                                                <td>$!{info.model}</td>
                                                <td>$!{info.brand}</td>
                                                <td>$!{info.location}</td>
                                                <td>$!dateTool.format("yyyy-MM-dd",$!{info.inDate})</td>
												<td class="last">
													<a href="javascript:doUrl('$!{basePath}/p3/cms/erpProduct.do?toDetail&id=$!{info.id}')">详情</a>
												</td>
											</tr>
										#end
									#end
								</tobody>
							</table>
							
                            <div class="text-right">
                                <!--公用翻页代码-->
                                #set($attr='formSubmit')
                                #showPageList($pageInfos $attr)
                                <!--END公用翻页代码-->
                            </div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
    	<ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
    </div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/zTree/jquery.ztree.core.js$!{version}"></script>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/zTree/jquery.ztree.excheck.js$!{version}"></script>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/zTree/jquery.ztree.exedit.js$!{version}"></script>
<script type="text/javascript">
	var IDMark_A = "_a";
    
	function showMenu() {
		var cityObj = jQuery("#columnId");
		var cityOffset = jQuery("#columnId").offset();
    	if(jQuery("#menuContent").is(':hidden')){
         jQuery("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");
    	}else{
    	  jQuery("#menuContent").fadeOut("fast");
    	}
        jQuery("body").bind("mousedown", onBodyDown);
    }
    function hideMenu() {
    	jQuery("#menuContent").fadeOut("fast");
    	jQuery("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
    	if (!(event.target.id == "columnId" || event.target.id == "menuContent" || jQuery(event.target).parents("#menuContent").length>0)) {
    		hideMenu();
    	}
    }
	
	var setting = {
		check: {
			enable: true,
			chkStyle: "radio",
			radioType: "all"
		},
		view: {
			addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom,
			dblClickExpand: false
		},
		data: {
			simpleData: {
				enable: true,
				idKey: "id",
				pIdKey: "parentCode",
				rootPId: null
			}
		},
		callback: {
			onClick: onClick,
			onCheck: onCheck
		}
	};
    function onClick(e, treeId, treeNode) {
       var tree = zTree.getZTreeObj("treeDemo");
    	tree.checkNode(treeNode, !treeNode.checked, null, true);
    	return false;
    }
    function onCheck(e, treeId, treeNode) {
    	var tree = zTree.getZTreeObj("treeDemo"),
    	nodes = tree.getCheckedNodes(true),
    	v = "",vid = "";
    	for (var i=0, l=nodes.length; i<l; i++) {
    		v += nodes[i].name + ",";
    		vid += nodes[i].id + ",";
    	}
    	if (v.length > 0 ) v = v.substring(0, v.length-1);
    	if (vid.length > 0 ) vid = vid.substring(0, vid.length-1);
    	jQuery("#columnId").val(v);
		$("#pId").val(vid);
    }
    function addHoverDom(treeId, treeNode) {
    	if (treeNode.parentNode && treeNode.parentNode.id!=1) return;
    	var aObj = jQuery("#" + treeNode.tId + IDMark_A);
    		if (jQuery("#diyBtn_"+treeNode.id).length>0) return;
    		var editStr = "<span id='diyBtn_" +treeNode.id+ "'>编码:"+treeNode.id+"</span>";
    		aObj.after(editStr);
    }
    function removeHoverDom(treeId, treeNode) {
    		jQuery("#diyBtn_"+treeNode.id).unbind().remove();
    		jQuery("#diyBtn_space_" +treeNode.id).unbind().remove();
    }
	
    var zNodes;
        jQuery(document).ready(function(){
        	jQuery.ajax({  
    	        async : false,  
    	        cache:false,  
    	        type: 'POST',  
    	        dataType : "json",  
    	        url: '$!{basePath}/p3/cms/erpCategory.do?tree',//请求的action路径  
    	        error: function () {//请求失败处理函数  
    	            alert('请求失败');
    	        },  
    	        success:function(data){ //请求成功后处理函数。   
					jQuery.each( data, function(i, n){
						jQuery("." + n.id).html(n.name);
                    });
    	        }
    	    });  
        });
         jQuery(document).ready(function(){
    	jQuery.ajax({  
	        async : false,  
	        cache:false,  
	        type: 'POST',  
	        dataType : "json",  
	        url: '$!{basePath}/p3/cms/erpCategory.do?tree',//请求的action路径  
	        error: function () {//请求失败处理函数  
	            alert('请求失败');  
	        },  
	        success:function(data){ //请求成功后处理函数。    
	            zNodes = data;   //把后台封装好的简单Json格式赋给zNodes  
	        }  
	    });  
    	zTree.init(jQuery("#treeDemo"), setting, zNodes);
    });
    </script>